/*
---
name: alert
category:
    - object/project
    - base
tag:
    - object
    - project
---

ブロックでメッセージを表示するコンポーネントです。


```html
<p class="p-alert">アラートを表示します。</p>
<p class="p-alert p-alert--success">成功しました。</p>
<p class="p-alert p-alert--warning">警告します。</p>
<p class="p-alert p-alert--error">エラーが発生しました。</p>
```
*/

.p-alert {
    padding: 1em;
    border: 1px solid #e7edf0;
    border-radius: 3px;
    color: #47525d;
    background-color: #f7f9fa;
}

.p-alert__link {
    color: currentColor;
}
.p-alert__link:hover,
.p-alert__link:focus {
    color: inherit;
}

.p-alert--success {
    border-color: #d9f4e1;
    color: #2c683f;
    background-color: #edfaf1;
}

.p-alert--warning {
    border-color: #fffad3;
    color: #996e00;
    background-color: #fffdec;
}

.p-alert--error {
    border-color: #ffcaca;
    color: #921515;
    background-color: #ffe3e3;
}